<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ladybees</title>
        <link rel="stylesheet" href="/styles/style.less">
    </head>
    <body>
        <div>
            <h2>1 out of 5</h2>
            <h3>Name</h3>
            <h4>Difficulty</h4>
        </div>

        <!--Sentence-->
        <h1>

        </h1>

        <button id="hearWord">repeat word</button>
        <button id="hearSentence">use in a sentence</button>

        <!--Text input-->
        <input type="text" id="spelledWord" placeholder="Spell word here"/>
    </body>
    <footer>
        <script
                src="https://code.jquery.com/jquery-3.4.0.min.js"
                integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
                crossorigin="anonymous"></script>
    </footer>
</html>