<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ladybees</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        <section>
            <form action="/game" method="POST">
                <h1>Hi my name is </h1>
                <input type="text" name="input" placeholder="name" required>
                <h1>, and I want to play a(n) </h1>
                <select name="input" required>
                    <option value="easy">Easy</option>
                    <option value="medium">Med.</option>
                    <option value="hard">Hard</option>
                </select>
                <h1> game of Spelling Bee with </h1>
                <select name="input" required>
                    <option value="5">five</option>
                    <option value="10">ten</option>
                    <option value="15">fifteen</option>
                </select>
                <h1>questions.</h1>
                <button type="submit">🐝</button>
            </form>
        </section>

</html>