<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ladyBees | learn to spell</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
    <body>

    <header>
        <h1>Thanks for playing!</h1>
    </header>

    <main>
        <h3>Your score</h3>

        <table>
            <tr>
                <th>Name</th>
                <th>Difficulty</th>
                <th>Score</th>
                <th>Missed Word</th>
            </tr>

            <tr>
                <td><%= score.name %></td>
                <td><%= score.difficulty %></td>
                <td><%= score.score %></td>
                <td><%= score.missedWord %></td>
            </tr>
        </table>

    </main>

    </body>
</html>