@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat');

* {
    font-family: 'Karla', sans-serif;
}
body {
    text-align: center;
    font-family:'Karla', sans-serif;
    margin: 20px auto;
    max-width: 960px;
}
header {
    margin: 0 0 40px 0;
}
th{
    font-size: 18pt;
    font-weight: bold;
}
td{
    line-height: 30px;
}
button{
    border: none;
    padding: 5px;
}
div input{
    display: block;
    margin: 10px auto;
    font-size: 14pt;
    padding: 5px;
    width: 500px;
}
h1{
    font-size: 36pt;
    font-weight: bold;
    margin: 0 0 20px 0;
}
h4{
    font-size: 24pt;
    margin: 10px 0;
}
a{
    line-height: 80px;
    color: #dba62b;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
}
i{
    color: #dba62b;
    font-style: italic;
}
section{
    margin: 40px auto;
}
section h1{
    display: inline;
}
section input{
    border: 0;
    border-bottom: 2px solid lightgray;
    width: 150px;
    font-size: 36pt;
    line-height: 20px;
}
section select{
    font-size: 36pt;
    border: 0;
    border-bottom: 2px solid lightgray;
    margin: 0 10px;
}
#start{
    line-height: 70px;
}
#finalScore{
    line-height: 50px;
}
#final input{
    font-size: 18pt;
    width: 100px;
    text-align: center;
    margin: 0;
}
#save{
    width: 400px;
}
#scores{
    width: 500px;
    margin: 0 auto;
}
#bee{
    font-size: 36pt;
}
#loading{
    text-align: center;
}
#loading img{
    margin: 50px auto;
    display: block;
}
.hidden{
    display: none;
}