@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat');

* {
    font-family: 'Karla', sans-serif;
}
body {
    text-align: center;
    font-family:'Karla', sans-serif;
    margin: 20px auto;
    max-width: 960px;
}
header {
    margin: 0 0 40px 0;
}
h1{
    font-size: 36pt;
    font-weight: bold;
    margin: 0 0 20px 0;
}
h4{
    font-size: 24pt;
}
i{
    color: darkolivegreen;
    font-style: italic;
}
section{
    margin: 40px auto;
}
section > *{
    line-height: 70px;
}
section h1{
    display: inline;
}
section input{
    border: 0;
    border-bottom: 2px solid lightgray;
    width: 150px;
    font-size: 36pt;
}
section select{
    font-size: 36pt;
    border: 0;
    border-bottom: 2px solid lightgray;
    margin: 0 10px;
}
section button{
    font-size: 36pt;
    margin-left: 20px;
}
#scores{
    width: 500px;
    margin: 0 auto;
}
h3 a{
    line-height: 80px;
    color: #dba62b;
    font-weight: bold;
    text-decoration: none;
    font-size: 18pt;
}
th{
    font-size: 18pt;
    font-weight: bold;
}
td{
    line-height: 30px;
}
button{
    border: none;
    padding: 5px;
}
div input{
    display: block;
    margin: 10px auto;
    font-size: 14pt;
    padding: 5px;
    width: 500px;
}
.hidden{
    display: none;
}